<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <meta http-equiv="X-Frame-Options" content="deny">
    
    <title>under development =)</title>
<style>
    #intro .intro-content h5 a {
    color: inherit;
    text-decoration: none;
}

html a {
    background: 0 0;
    text-decoration: none;
}
html * {
    font-family: Nunito,sans-serif;
}
a, a:visited {
    color: #000;
    transition: all .3s ease-in-out;
}
a {
    color: #0d6efd;
    text-decoration: underline;
}

.col-full, .col-twelve {
    width: 100%;
}

html * {
    font-family: Nunito,sans-serif;
}
*, :after, :before {
    box-sizing: border-box;
}
div {
    display: block;
}
.intro-content {
    display: block;
    margin-top: 120px;
    text-align: center;
    transform: translateY(-20%);
    vertical-align: middle;
}

#intro {
    background: #25d366;
    height: 525px;
}

#intro {
    overflow: hidden;
    position: relative;
}
#intro {
    height: auto;
}
#intro {
    background-size: cover!important;
    display: table;
    text-align: center;
    width: 100%;
}
#intro {
    height: auto;
}
html * {
    font-family: Nunito,sans-serif;
}
*, :after, :before {
    box-sizing: border-box;
}


section {
    display: block;
}
body {
    background: #fff;
    font-family: Nunito,sans-serif;
    font-size: 1.7rem;
    height: 100%;
}
body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    margin: 0;
    text-align: var(--bs-body-text-align);
}



#stickers {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 20px;
    width: 90%;
}
.stickers {
    padding: 5px;
    border-color: rgba(26, 26, 26, 0.507);
    border-radius: 5px;

    border-style: solid;
    box-sizing: border-box;
    display: inline-block;
    border-width: 2px;

}
</style>
</head>
<body>
    <section id="intro">
        <div class="intro-content">
            <div class="col-twelve">
                <img width="128" height="128" id="intro_img" src="./tray.png" alt="" srcset="">
                <h5><a href="https://getstickerpack.com/publisher/zocker9000">Jonaz</a></h5>
                <h1>apenas teste</h1>
            </div>
        </div>
    </section>

    <section id="stickers">
    </section>
    
    <script>
        async function main(){
        const id = window.location.href.split('=').pop();
        const data = await fetch(`/pack?id=${id}`);
        const json = await data.json()
        json.forEach(element => {
            document.getElementById('stickers').innerHTML += `<img class="stickers" width="128" height="128" src="${element.url}" alt="" srcset="">`
        });
        let random = Math.floor(Math.random() * json.length);
        document.getElementById('intro_img').src = json[random].url;
            //draw dominant color from image
            let img = document.getElementById('intro_img');
            let canvas = document.createElement('canvas');
          //disable cros domain error
            canvas.crossOrigin = "Anonymous";
            
            canvas.width = img.width;
            canvas.height = img.height;
            let ctx = canvas.getContext('2d');
            ctx.drawImage(img, 0, 0);
            let imageData = ctx.getImageData(0, 0, canvas.width, canvas.height).data
            let r = 0, g = 0, b = 0;
            for (let i = 0; i < data.length; i += 4) {
                r += imageData[i];
                g += imageData[i + 1];
                b += imageData[i + 2];
            }
            r = Math.floor(r / (imageData.length / 4));
            g = Math.floor(g / (imageData.length / 4));
            b = Math.floor(b / (imageData.length / 4));
            console.log(r, g, b)
            document.getElementById('intro').style.background = `rgb(${r}, ${g}, ${b})`;
            
     

        }
        main()        
    </script>

</body>
</html>
